.feedback-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

button {
  display: block;
  margin: auto;
}

.thank-you {
  margin-top: 20px;
  text-align: center;
  color: green;
  font-weight: bold;
}