<div class="navbar-noauth">
<mat-toolbar >
    <div class="app-name">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
</div>
  <span class="example-spacer"></span>
<div class="nav-btn">
  <button mat-button routerLink="/signup" class="example-icon">Signup</button>
  <button mat-button routerLink="/login" class="example-icon">Login</button>
</div>
</mat-toolbar>
</div>
<router-outlet></router-outlet>