<h1 class="title">{{ title }}</h1>

<div class="song-container">
  <mat-card *ngFor="let song of songs" @cardAnim [ngClass]="{'top-rated': song.rating === 5}">
    <img mat-card-image [src]="song.image" alt="{{song.name}}">
    <mat-card-header>
      <mat-card-title>{{ song.name }}</mat-card-title>
      <mat-card-subtitle>{{ song.artist }} - {{ song.album }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Duration: {{ song.duration }}</p>
      <mat-chip-listbox>
        <mat-chip>⭐ {{ song.rating }}</mat-chip>
      </mat-chip-listbox>
    </mat-card-content>

    <mat-card-actions>
      <button mat-icon-button color="primary">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>